<?xml version="1.0"?>
  <config>
    <modules>
      <EM_Soclosemod>
        <version>0.1.0</version>
      </EM_Soclosemod>
    </modules>
    <frontend>
      <routers>
        <soclosemod>
          <use>standard</use>
          <args>
            <module>EM_Soclosemod</module>
            <frontName>soclosemod</frontName>
          </args>
        </soclosemod>
      </routers>
    </frontend>
    <frontend>
      <layout>
        <updates>
          <soclosemod>
            <file>soclosemod.xml</file>
          </soclosemod>
        </updates>
      </layout>
    </frontend>
    <global>
      <blocks>
        <soclosemod>
                <class>EM_Soclosemod_Block</class>
        </soclosemod>
      </blocks>
    </global>
  </config>
